* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

.gameMainDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vw;
    max-height: 5vw;
    max-width: 75vw;
    gap: 50px;
}

.gameButtons, .pcGame {
    display: flex;
    height: 100%;
    width: 33.33%;
    justify-content: space-between;
}

.gameMainDiv p {
    width: auto;
    font-size: 3rem;
}

.pcGame {
    height: 100%;
    display: flex;
    justify-content: center;
}

.pcGame .container {
    width: 33.33%;
    height: 100%;
}

.butGame img, .pcSelection img {
    width: 100%;
    height: 100%;
}

#resultMsg, #butReset {
    display: none;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
}

.result p {
    text-align: center;
    font-size: 5rem;
}

.scorePannel {
    display: flex;
    flex-direction: row;
    gap: 20vw;
}

.scorePannel div {
    display: inherit;
    flex-direction: column;
    align-items: center;
}





